<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'doctor.css' %}">

    <script type="text/javascript" href="{% static 'script.js' %}"></script>
    {% block extra_scripts %}
    {% endblock extra_scripts %}

    {% block menu %}
        <link rel="stylesheet" type="text/css" href="{% static 'doctor.css' %}">


        <div class="top_menu">
            <a href="{% url 'virtual_health_card' %}"> Home </a>
            <a href="{% url 'patient_registration' %}"> Register Patient </a>
            <a href="{% url 'doctor_registration' %}"> Register Doctor </a>
            <a href="{% url 'pharmacist_registration' %}"> Register Pharmacist </a>
            <a href="{% url 'login' %}">  Login </a>
        </div>
    {% endblock menu %}

</head>

<body>
{#{% block userlogin %}#}
{#    <ul class="sidebar-nav">#}
{#        {% if user.is_authenticated %}#}
{#            <li>User: {{ user.get_username }}</li>#}
{#            <li><a href="{% url 'logout' %}"> Logout </a></li>#}
{#        {% else %}#}
{#            <li><a href="{% url 'login' %}"> Login </a></li>#}
{#        {% endif %}#}
{#    </ul>#}
{##}
{#{% endblock userlogin %}#}
<br>
<br>
<br>
<br>

{% block inpage_title %} {% endblock inpage_title %}

<div id="content">
    {% block errors %}{% endblock %}
    {% block content %}{% endblock %}
</div>

{% block userlogin %}
    <ul class="sidebar-nav">
        {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'logout' %}"> Logout </a></li>
        {% else %}
            <li><a href="{% url 'login' %}"> Login </a></li>
        {% endif %}
    </ul>

{% endblock userlogin %}


{% block footer %}<div id="footer">
<h6> Original production Copyright© 2020 Virtual Health Card Romania</h6>
</div>{% endblock %}
</body>

</html>

