<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block extra_scripts %}


{% endblock %}

{% block inpage_title %}
   <h3>
    <div>   {# align images and text on the same line : #}
        <img style="vertical-align:middle" src="../../static/new_user.jpg" alt="new_user_reg">
        <span style="vertical-align:middle"> {{ main_title }} </span>
    </div>
    </h3>
{% endblock %}
{% block errors %}
    {{ errors }}
{% endblock %}
{% block content %}
    <div class="user_new">
        <h4> {{ sub_title_1 }} </h4>
        <form action="" method="post">

            {% csrf_token %}

            <label for="first_name">First name*</label>
            <input id="first_name" class="buttons" type="text" placeholder="First name" name="first_name" required>

            <br> <br>

            <label for="last_name">Last name*</label>
            <input id="last_name" class="buttons" type="text" placeholder="Last name" name="last_name" required>

            <br> <br>

            <label for="ssn">SSN*</label>
            <input id="ssn" class="buttons" type="text" placeholder="SSN" name="ssn" required>

            <br> <br>

            <label for="email">email address*</label>
            <input id="email" class="buttons" type="email" placeholder="email address" name="email" required>

            <br/> <br/>

            <label for="phone_nr.">Phone nr.*</label>
            <input id="phone_nr." class="buttons" type="text" placeholder="Phone nr." name="phone nr" required>

            <br> <br>

            <label for="date_of_birth">Date of Birth*</label>
            <input id="date_of_birth" class="buttons" type="date" placeholder="1988-12-08" name="date_of_birth" required>

             <br> <br>

            <label for="insurance">Insurance*</label>
            <select id="insurance" class="buttons" name="insurance_id" required>
                {% for insurance in insurances %}
                    <option value="{{ insurance.id }}">{{ insurance.name }}</option>
                {% endfor %}
            </select>
            <br/><br/>

            <label for="residence">Residence</label>
            <input id="residence" class="buttons" type="text" placeholder="residence" name="residence" required>

            <br/> <br/>


            <label for="general_practitioner">General Practitioner*</label>
            <select id="general_practitioner" class="buttons" name="general_practitioner_id" required>
                {% for general_practitioner in general_practitioners %}
                    <option value="{{ general_practitioner.id }}">{{ general_practitioner.name }}</option>
                {% endfor %}
            </select>

            <br/><br/>

            <label for="new_password">Password</label>
            <input id="new_password" class="buttons" type="password" placeholder="new_password" name="new_password" required>

            <br/> <br/>

            <label for="repeat_new_password">Repeat Password</label>
            <input id="repeat_new_password" class="buttons" type="password" placeholder="repeat_new_password" name="repeat_new_password" required>

            <br> <br>

            <input type="submit" value="Create Patient account" class="favorite styled">
        </form>
        {#    <button  type="button" id="createNewDoctorAcc" onclick="createNewDoctorAcc()">Create NEW DOCTOR Account</button>#}
        {#  TODO : dupa apasarea butonului trebuie salvate datele in tabela Users  #}
        {#    <script>#}
        {#    function createNewDoctorAcc() {#}
        {#        var x = document.getElementById("createNewDoctorAcc");#}
        {#        x.disabled = true;#}
        {#    }#}
        {#    </script>#}

    </div>
{% endblock %}

<h6> {{ footer }} </h6>

</body>
