{# patient_personal_data_review #}

{% extends 'base_patient.html' %}

{% block content %}
    <h1>PATIENT's Personal Data Review for SSN = {{ object.ssn }} (current logged user)</h1>
    <div class="patient_detail_view">
        <table border="1" id="comments" >
        <thead>
            <tr>
                <th>Patient's<br>Full Name</th>
                <th>Patient's<br>SSN</th>
                <th>Patient's<br>Citizenship</th>
                <th>Patient's<br>Date of Birth</th>
                <th>Patient's<br>E-mail Address</th>
                <th>Patient's<br>Phone No.</th>
                <th>Patient's<br>Residence</th>
                <th>Patient's<br>Insurance</th>
            </tr>
        </thead>

            <tr>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.patient.ssn }}</td>             {# sau "{{ object.ssn }}" #}
                <td>{{ user.patient.citizenship }}</td>         {# NU SCOATE NIMIC  #}
                <td>{{ user.patient.date_of_birth }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.patient.phone_nr }}</td>         {# NU SCOATE NIMIC  #}
                <td>{{ object.residence.name }}</td>
                <td>{{ object.insurance.name }}</td>
            </tr>
        </table>
    </div>

    <p>
        {% if object.user != None and object.user != '' %}
        {% else %}The PATIENT you are looking for is not yet created . . .
        {% endif %}
    </p>
        <br>  <br/>
{% endblock %}
