{# patient_registration #}

<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block extra_scripts %}{% endblock %}

{% block inpage_title %}
    <h3>
        <div>   {# align images and text on the same line : #}
            <img style="vertical-align:middle" src="../../static/new_user.jpg" alt="new_user_reg">
            <span style="vertical-align:middle"> {{ main_title }} </span>
        </div>
    </h3>
{% endblock inpage_title %}

{% block errors %}
    {{ errors }}
{% endblock errors %}

{% block content %}
    <div class="user_new">
        <h4> {{ sub_title_1 }} </h4>
        <form action="" method="post">

            {% csrf_token %}

            {% include 'registration_common.html' %}

            <label for="ssn">SSN >>></label>
            <input id="ssn" class="buttons" type="text" placeholder="e.g. 1234567890123" name="ssn" required>

            <label for="date_of_birth">.  .  .  .  .  . Date of Birth >>></label>
            <input id="date_of_birth" class="buttons" type="date" placeholder="YYYY-MM-DD" name="date_of_birth"
                   required>

            <label for="phone_nr.">.  .  .  .  .  . Phone No. >>></label>
            <input id="phone_nr." class="buttons" type="text" placeholder="Phone No." name="phone_nr." required>

            <label for="residence">.  .  .  .  .  . Residence >>></label>
            <select id="residence" class="buttons" name="residence_id" required>
                {% for residence in residences %}
                    <option value="{{ residence.id }}">{{ residence.name }}</option>
                {% endfor %}
            </select>
            <br>     <br/>

            <label for="insurance">Insurance >>></label>
            <select id="insurance" class="buttons" name="insurance_id" required>
                {% for insurance in insurances %}
                    <option value="{{ insurance.id }}">{{ insurance.name }}</option>
                {% endfor %}
            </select>

            <label for="general_practice_doctor">.  .  .  .  .  . Choose YOUR General Practice Doctor >>></label>
            <select id="general_practice_doctor" class="buttons" name="doctor_id" required>
                {% for doctor in doctors %}
                    {% if doctor.doctor_type.doctor_type == 'general practitioner' %}
                    <option value="{{ doctor.id }}">{{doctor.doctor_type.doctor_type}}->
                        {{ doctor.user.first_name }} {{ doctor.user.last_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>     <br/>
            <input type="submit" value="Create NEW PATIENT Account" class="favorite styled">
        </form>
    </div>
{% endblock %}

<h6> {{ footer }} </h6>


<p>You have visited this page {{ visits_count }}{% if visits_count == 1 %}time{% else %}times{% endif %}../p>
