{# base_doctor_to_consultation #}

<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
{#        <link rel="stylesheet" type="text/css" href="{% static 'doctor.css' %}">#}
{#        <script type="text/javascript" href="{% static 'script.js' %}"></script>#}

        {% block extra_scripts %}
        {% endblock extra_scripts %}

        {% block menu %}
            <link rel="stylesheet" type="text/css" href="{% static 'doctor.css' %}">

            <div class="top_menu">
                <a href="{% url 'virtual_health_card' %}">Home</a>
                <a href="{% url 'doctor_new_consultation' %}">Add a NEW CONSULTATION</a>

                <ul style="float:right">                                            {# NEW #}
                    {% include 'far-up-right_common.html' %}
                </ul>
            </div>
        <br>  <br/>
        {% endblock menu %}
    </head>

    <body onLoad="renderTime();">
        {% block inpage_title %}
        {% endblock inpage_title %}

        <div id="content">
            {% block errors %}
            {% endblock errors %}

            {% block content %}
            {% endblock content %}
        </div>

        {% block footer %}
            <div id="footer">
                <h6> Original production Copyright© 2020 Virtual Health Card Romania</h6>
            </div>
        {% endblock footer %}
    </body>
</html>
