<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'doctor.css' %}">
        <script type="text/javascript" href="{% static 'script.js' %}"></script>

        {% block extra_scripts %}
        {% endblock extra_scripts %}

        {% block menu %}
            <link rel="stylesheet" type="text/css" href="{% static 'doctor.css' %}">

            <div class="top_menu">
                <a href="{% url 'virtual_health_card' %}">Home</a>
{#                <a href="{% url 'admin' %}">AdminDB</a>#}
                <a href="{% url 'patient_registration' %}">Register Patient</a>
                <a href="{% url 'doctor_registration' %}">Register Doctor</a>
                <a href="{% url 'pharmacist_registration' %}">Register Pharmacist</a>

{#            TODO: ~ ~ ~ ~ ~ UNDER DEVELOPMENT : ~ ~ ~ ~ ~           #}
                {% if user.is_authenticated %}
                    {% if doctor.id > 0  %}
                    {{ user.get_username }}
                    <a href="{% url 'doctor_new_consultation' %}">New CONSULTATION</a>
                    <a href="{% url 'doctor_new_prescription' %}">New PRESCRIPTION</a>
                    {% endif %}
                    {% else %}

                {% endif %}

                <ul style="float:right">                                            {# NEW #}
                    {% include 'far-up-right_common.html' %}
                </ul>
            </div>
        <br>  <br>
        {% endblock menu %}
    </head>

    <body>
        {% block inpage_title %}
        {% endblock inpage_title %}

        <div id="content">
            {% block errors %}
            {% endblock errors %}

            {% block content %}
            {% endblock content %}
        </div>

        {% block footer %}
            <div id="footer">
            <h6> Original production Copyright© 2020 Virtual Health Card Romania</h6>
            </div>
        {% endblock footer %}
    </body>
</html>
