{# base_doctor_to_prescription #}

<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
{#        <link rel="stylesheet" type="text/css" href="{% static 'doctor.css' %}">#}
{#        <script type="text/javascript" href="{% static 'script.js' %}"></script>#}

        {% block extra_scripts %}
        {% endblock extra_scripts %}

        {% block menu %}
            <link rel="stylesheet" type="text/css" href="{% static 'doctor.css' %}">

            <div class="top_menu">
                <a href="{% url 'virtual_health_card' %}">Home</a>
                <a href="{% url 'doctor_new_prescription' %}">Add a NEW PRESCRIPTION</a>

{#                <a href="{% url 'admin/' %}">DATABASE Review</a>#} {# TODO: UNDER DEVELOPMENT: NEW: 15.DEC #}
{#                Exception Type:	NoReverseMatch. #}
{#                Reverse for 'admin/' not found. 'admin/' is not a valid view function or pattern name. #}

                <ul style="float:right">
                    {% include 'far-up-right_common.html' %}
                </ul>
            </div>
        <br>  <br/>
        {% endblock menu %}
    </head>

    <body onLoad="renderTime();">
        {% block inpage_title %}
        {% endblock inpage_title %}

        <div id="content">
            {% block errors %}
            {% endblock errors %}

            {% block content %}
            {% endblock content %}
        </div>

        {% include 'date-time_common.html' %}

        {% block footer %}
            <div id="footer">
                <h6> Original production Copyright© 2020 Virtual Health Card Romania</h6>
            </div>
        {% endblock footer %}
    </body>
</html>
