{# base_patient #}

<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'doctor.css' %}">
        <script type="text/javascript" href="{% static 'script.js' %}"></script>

        {% block extra_scripts %}
        {% endblock extra_scripts %}

        {% block menu %}
            <link rel="stylesheet" type="text/css" href="{% static 'doctor.css' %}">

            <div class="top_menu">
                <a href="{% url 'virtual_health_card' %}">Home</a>


                <ul style="float:right">                                            {# NEW #}
                    {% if user.is_authenticated %}
                        <li>Logged as : {{ user.get_username }}</li>
                        <li><a href="{% url 'logout' %}"> Logout </a></li>
                    {% else %}
                        <p>Enter your credentials in order to Login . . . .</p>
                        <li><a href="{% url 'login' %}"> Login </a></li>
                    {% endif %}
                </ul>
            </div>
        <br>  <br>
        {% endblock menu %}
    </head>

    <body>
        {% block inpage_title %}
        {% endblock inpage_title %}

        <div id="content">
            {% block errors %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

        {% block footer %}
            <div id="footer">
            <h6> Original production Copyright© 2020 Virtual Health Card Romania</h6>
            </div>
        {% endblock footer %}
    </body>
</html>

