{# date-time_common.html #}

{% block date_time %}
<div id="clockDisplay" class="container"></div>
    <script type="text/javascript">
        function renderTime(){

            // DATE coding :
            var mydate = new Date();
            var year = mydate.getYear();
                if(year < 1000){
                    year += 1900;
                }
            var day = mydate.getDay();
            var month = mydate.getMonth();
            var daym = mydate.getDate();
            {#var dayarray = new Array("Sunday, ", "Monday, ", "Tuesday, ", "Wednesday, ", "Thursday, ", "Friday, ", "Saturday, ");#}
            {#var montharray = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");#}
            var dayarray = new Array("SUN, ", "MON, ", "TUE, ", "WED, ", "THU, ", "FRI, ", "SAT, ");
            var montharray = new Array("JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC");

            // we will set the Day view when the number is under 10 :
                if(daym < 10){
                    daym = "0" + daym; // adding 0 in from of the under 10 number of hours
                }
            // Date End

            // TIME coding :
            var currentTime = new Date();
            var h = currentTime.getHours();
            var m = currentTime.getMinutes();
            var s = currentTime.getSeconds();
                // we will set a 24 hours clock :
                if(h == 24){      // 'Comparison h == 24 may cause unexpected type coercion'
                    h = 0;
                } else if(h > 12){
                    h = h - 0;    // 'h - 0 can be replaced with h'
                }

                if(h < 10){
                    h = "0" + h; // adding 0 in from of the under 10 number of hours
                }

                if(m < 10){
                    m = "0" + m; // adding 0 in from of the under 10 number of minutes
                }

                if(s < 10){
                    s = "0" + s; // adding 0 in from of the under 10 number of seconds
                }

            // get the ID of the clock display - lin14 from the 'index.html' file :
            var myClock = document.getElementById("clockDisplay");
            myClock.textContent = daym+ "-" +montharray[month]+ "-" +year+ " | " +h+ ":" +m+ ":" +s;
            myClock.innerText = daym+ "-" +montharray[month]+ "-" +year+ " | " +h+ ":" +m+ ":" +s;
            {#'"" +dayarray[day]+ " " +' pus in fata arata si ziua saptamanii #}
            setTimeout("renderTime()", 1000);  // 1000ms = 1 sec (=> time update: every 1 sec )
        }
        renderTime();
    </script>
{% endblock date_time %}



