{# far-up-right_common.html #}

{% if user.is_authenticated %}
    <li> {% include 'date-time_common.html' %} </li>
    <li>Logged as : {{ user.get_username }}</li>
    <li><a href="{% url 'logout' %}"> Logout </a></li>
{% else %}
    <li> {% include 'date-time_common.html' %} </li>
    <p>Enter your credentials in order to Login . . . .</p>
    <li><a href="{% url 'login' %}"> Login </a></li>
{% endif %}


