{# patient_personal_data_review #}

<!DOCTYPE html>
<html lang="en">
{#  {% extends 'base.html' %}  #}
{% load static %}
    <head>
        <title>{{ page_title }}</title>
        <link rel="stylesheet" type="text/css" href="../static/doctor.css">

        <div class="links">
            <a href="{% url 'virtual_health_card' %}">Home </a>
        </div>
        <!--    -->
        <h3> {{ main_title }} </h3>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <body>
    <div class="user_new">
        <label for="prenume">First Name</label>
        <label>
            <input class="buttons" type="text" placeholder="First Name" name="pa_f_name" required>
        </label>
        <br>    <br>

        <label for="nume">Last Name</label>
        <label>
            <input class="buttons" type="text" placeholder="Last Name" name=pa_l_name" required>
        </label>
        <br>    <br>

        <label for="ssn">SSN</label>
        <label>
            <input class="buttons" type="text" placeholder="SSN" name=ssn" required>
        </label>
        <br>    <br>

        <label for="email">email address</label>
        <label>
            <input class="buttons" type="email" placeholder="email address" name=email" required>
        </label>
        <br>    <br>

        <label for="Phone No">Phone No</label>
        <label>
            <input class="buttons" type="tel" placeholder="Phone No" name="phoneno" required>
        </label>
        <br>    <br>

        <label for="Residence">Residence</label>
        <label>
            <input class="buttons" type="text" placeholder="Residence" name="residence_id" required>
        </label>
        <br>    <br>

        <label for="password">Password</label>
        <label>
            <input class="buttons" type="text" placeholder="Password" name="pa_password" required>
        </label>
    </div>
    </body>
</html>
