<label for="first_name">First Name >>></label>
<input id="first_name" class="buttons" type="text" placeholder="First Name" name="first_name" required>

<label for="last_name">.  .  .  .  .  . Last Name >>></label>
<input id="last_name" class="buttons" type="text" placeholder="Last Name" name="last_name" required>

<label for="email">.  .  .  .  .  . E-mail Address >>></label>
<input id="email" class="buttons" type="email" placeholder="username@domain.com" name="email" required>
            <br>     <br/>

<label for="password">Password >>></label>
<label>
    <input class="buttons" type="password" placeholder="Password" name="password" required>
</label>

<label for="repeat_password">.  .  .  .  .  . Repeat Password >>></label>
<label>
    <input class="buttons" type="password" placeholder="Repeat Password" name="repeat_password" required>
</label>
            <br>     <br/>




