{# virtual_health_card.html #}

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>{{ titlu_pag }}</title>
    <h3> {{ main_title }} </h3>

    <link rel="shortcut icon" href="favicon.ico">
    <img src="../static/virtual_health.jpg" class="img_cont" alt="img_cont">
{% endblock %}
