{#{% extends 'base.html' %}#}


{% block content %}
    <div class="top_menu">
        <a href="{% url 'virtual_health_card' %}"> Home </a>
    </div>
    <br>
    <br>

    <p>You have been logged-out !</p>

    <div class="top_menu">
        <a href="{% url 'login' %}">Click here to login again.</a>
    </div>
{% endblock %}
