{% extends 'base.html' %}

{% block content %}

    {% if form.errors %}
        <p>Your email Address and password didn't match. Please try again.</p>
    {% endif %}

    {#    {% if next %}#}
    {#        {% if user.is_authenticated %}#}
    {#            <p>Your account doesn't have access to this page 111#}
    {#                To proceed, please login with an account that has access.</p>#}
    {#        {% else %}#}
    {#            <p>Please login to see this page.</p>#}
    {#        {% endif %}#}
    {#    {% endif %}#}

    <form method="post" action="">
        {% csrf_token %}

        <label for="username">email Address</label>
        <input id="username" class="buttons" type="email" placeholder="username@domain.com" name="username" size="30" required>
        <br> <br/>

        <label for="password">Password</label>
        <label>
            <input class="buttons" type="password" placeholder="Password (min 9 characters)" name="password"
                   size="30" required>
        </label>
        <br> <br/>

        <div class="top_menu">
            <input class="buttons" type="submit" value="Login">
        </div>
        {#        <input type="hidden" name="next" value="{{ next }}"/>#}
    </form>
    <br> <br/>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset_form' %}">Lost password ?</a></p>

{% endblock %}
