body {
    background-color: cadetblue;
}


nav a {
    display: inline-block;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;

}


h3 {
    text-align: center;
    color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
    font-size: 50px;
    font-weight: bold;
}