{% if messages %}
<h2>Upload Excel file</h2>

<form>{% for message in messages %}
    <div>
        class="alert alert-{{ message.tags }}" role="alert">
        <p>
            {% if message.tags %} class=""
            {% endif messages %}>{{ message }}
        </p>
    </div>
    {% endfor %}

{% endif messages %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" name="myfile">
        <button type="submit">Upload</button>
            <h2>Please UPLOAD the Excel file</h2>
    </form>

</form>

{## "input.html"#}
{# <form method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <input type="file" name="myfile">#}
{#    <button type="submit">Upload</button>#}
{#  </form>#}
