/* sorting table's style */

.table-sortable th {
    cursor: pointer;
    border-collapse: collapse;
    margin: 25px 0;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}


/* table search by SSN style */
* {
    box-sizing: border-box;
}

#myInput {
    background-image: url('/static/searchicon_small.jpg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    /*width: 100%;*/
    font-size: 32px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
    cursor: pointer;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}
