{# doctor_prescription_review #}

{% extends 'base_doctor_to_prescription.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <label for="ssn">
            <h2 style="text-align:center">DOCTOR's PRESCRIPTION(S) Search by PATIENT(SSN) =
                <input type="text" id="myInput" onkeyup="mySSNFunction()" placeholder="Search by SSN . . ."
                       title="Type in a SSN number">
            </h2>
        </label>

    </form>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/static/searchicon_small.jpg');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            {#width: 100%;#}
            font-size: 32px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header, #myTable tr:hover {
            background-color: #f1f1f1;
        }
    </style>



        <table border="1" id="myTable">
              <tr class="header">
                  <th>Patient's<br>SSN</th>
                  <th>Date&<br>Time</th>
                  <th>Doctor's<br>Full Name</th>
                  <th>Patient's<br>Full Name</th>
                  <th>Series&<br>Number</th>
                  <th>Diagnostic<br>Code</th>
                  <th>Diagnostic<br>Type</th>
                  <th>Insurance</th>
                  <th>Active<br>Substance</th>
                  <th>Drug Ph.Form</th>
                  <th>Conc.</th>
                  <th>Picked-up?</th>
                </tr>

            {% for prescription in prescriptions %}
                <tr>
                    <td>{{ prescription.patient.ssn }}</td>
                    <td>{{ prescription.created_at }}</td>
                    <td>{{ prescription.doctor.user.last_name }} {{ prescription.doctor.user.first_name }}</td>
                    <td>{{ prescription.patient.user.last_name }} {{ prescription.patient.user.first_name }}</td>
                    <td><a href="#">{{ prescription.series }} {{ prescription.number }}</a></td>
                    <td>{{ prescription.prescription_type.diagnostic_code }}</td>
                    <td>{{ prescription.consultation.diagnostic_type.diag_type }}</td>
                    <td>{{ prescription.patient.insurance.name }}</td>
                    <td>{{ prescription.active_substance.active_substance }}</td>
                    <td>{{ prescription.pharmaceutical_form.pharmaceutical_form }}</td>
                    <td>{{ prescription.concentration.concentration }}</td>
                    <td>{{ prescription.patient.prescriptionpickup.pharmacy.name}}</td>    {# NU SCOATE NIMIC . . #}
                </tr>
            {% endfor %}
        </table>
    <br>
    <div>
        <a href="{% url 'doctor_new_prescription' %}">Create a NEW PRESCRIPTION</a>
    </div>

    <script>
        function mySSNFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                        }
                }
            }
        }
    </script>

    <p>
        {% if object.user != None and object.user != '' %}
            {% else %}The USER you are looking for is not yet created . . .
        {% endif %}
    </p>
    <br>  <br/>
{% endblock %}
