{# doctor_personal_data_review #}

{% extends 'base_doctor.html' %}

{% block content %}
    <h1>
        DOCTOR's Personal Data Review for . . . .
        {{ user.first_name }} {{ user.last_name }} (Auth. No. = {{ user.doctor.authorisation }})
    </h1>

    <div class="doctor_detail_view">
        <table border="1" id="comments" >
            <thead>
                <tr>
                    <th>Clinic's Name<br>(& Type)</th>
                    <th>DOCTOR's<br>Full Name</th>
                    <th>DOCTOR's<br>Authorisation No.</th>
                    <th>Doctor's Type</th>
                    <th>DOCTOR's<br>Speciality</th>
                    <th>DOCTOR's<br>email Address</th>
                </tr>
            </thead>

            <tr>
                <td>{{ user.doctor.clinic.name}} ({{ user.doctor.clinic_type.clinic_type }})</td>  {# NU SCOATE NIMIC #}
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.doctor.authorisation }}</td>
                <td>{{ user.doctor.doctor_type.doctor_type }}</td>
                <td>{{ user.doctor.speciality.name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </table>
    </div>

    <p>
        {% if object.user != None and object.user != '' %}
        {% else %}The USER you are looking for is not yet created . . .
        {% endif %}
    </p>
        <br>  <br/>
{% endblock %}

