{# doctor_consultation_review #}

{% extends 'base_doctor_to_consultation.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {#            DOCTOR's CONSULTATION Detailed Data Review for PATIENT (SSN) = {{ object.patient.ssn }} #}
        <label for="ssn">
            <h2 style="text-align:center">
                CONSULTATION(S) Search by PATIENT(SSN) = <input style="class: center" id="ssn" class="buttons" type="text"
                                                                placeholder="0000000000000" name="ssn" required>
            </h2>
        </label>
        <button style="float:right" class="favorite styled" type="button" id="search_CON" onclick="myFunction()">SEARCH
            Consultation
        </button>
        <script>
            function myFunction() {
                var x = document.getElementById("search_CON");
                x.disabled = true;
            }
        </script>
    </form>

    <div class="doctor_detail_view">
        <table border="1" id="comments">
            <thead>
                <tr>
                    <th>Date&<br>Time</th>
                    <th>Clinic's Name<br>(& Type)</th>
                    <th>Doctor's<br>Full Name</th>
                    <th>Patient's<br>Full Name</th>
                    <th>Patient's<br>SSN</th>
                    <th>Diagnostic's<br>Type</th>
                    <th>Diagnostic's<br>Code</th>
                    <th>Prescription's<br>Type</th>
                    <th>Medical Report</th>
                </tr>
            </thead>

        {% if consultation.patient.ssn == '2000727568589' %}
{#            {% for consultation in consultations %}#}
                <tr>
                    <td>{{ consultation.created_at }}</td>
                    <td>{{ consultation.clinic.name }} ({{ consultation.clinic_type.clinic_type }})</td>
                    <td>{{ consultation.doctor.user.last_name }} {{ consultation.doctor.user.first_name }}</td>
                    <td>{{ consultation.patient.user.last_name }} {{ consultation.patient.user.first_name }}</td>
                    <td>{{ consultation.patient.ssn }}</td>
                    <td>{{ consultation.diagnostic_type.diag_type }}</td>
                    <td>{{ consultation.prescription_type.diagnostic_code }}</td>  {# NU SCOATE NIMIC . . #}
                    <td>{{ consultation.prescription_type.prescription_type }}</td>  {# NU SCOATE NIMIC . . #}
                    <td>{{ consultation.medical_report }}</td>
                </tr>
{#            {% endfor %}#}
        {% endif %}
        </table>
    </div>
    <br>
    <div>
        <a href="{% url 'doctor_new_consultation' %}">Create a NEW CONSULTATION</a>
    </div>

    <p>
        {% if object.user != None and object.user != '' %}
        {% else %}The USER you are looking for is not yet created . . .
        {% endif %}
    </p>
    <br>  <br/>
{% endblock %}










