{# doctor_registration #}

<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block extra_scripts %}
{% endblock extra_scripts %}

{% block inpage_title %}
    <h3>
        <div>   {# "aligns images and text on the same line" cu ' style="vertical-align:middle" ' : #}
            <img style="vertical-align:middle" src="../../static/new_user.jpg" alt="new_user_reg">
            <span style="vertical-align:middle"> {{ main_title }} </span>
        </div>
    </h3>

{% endblock inpage_title %}

{% block errors %}
    {{ errors }}
{% endblock errors %}

{% block content %}
    <div class="user_new">  {# creeaza careul care inconjoara campurile #}
        <h4> {{ sub_title_1 }} </h4>
        <form action="" method="post">

        {% csrf_token %}

        {% include 'registration_common.html' %}
        <br>

        <label for="authorisation_no">DOCTOR's DATA : Authorisation No. >>></label>
        <label>
            <input class="buttons" type="text" placeholder="Authorisation No." name="auth_no" required>
        </label>
{#        <br>        <br/>#}

        <label for="doctor_type">DOCTOR's Type >>></label>
        <select id="doctor_type" class="buttons" name="doctor_type_id" required>
            {% for doctor_type in doctor_types %}
                <option value="{{ doctor_type.id }}">{{ doctor_type.doctor_type }}</option>
            {% endfor %}
        </select>

        <label for="speciality">DOCTOR's Speciality >>></label>
        <select id="speciality" class="buttons" name="speciality_id" required>
            {% for speciality in specialities %}
                <option value="{{ speciality.id }}">{{ speciality.name }}</option>
            {% endfor %}
        </select>
        <br>   <br>  <br/>

        <label for="clinic">CLINIC's DATA : Clinic's Name >>></label>
        <select id="clinic" class="buttons" name="clinic_id" required>
            {% for clinic in clinics %}
                <option value="{{ clinic.id }}">{{ clinic.name }}</option>
            {% endfor %}
        </select>

        <label for="clinic_type">.  .  .  .  .  . Clinic's Type >>></label>
        <select id="clinic_type" class="buttons" name="clinic_type_id" required>
            {% for clinic_type in clinic_types %}
                <option value="{{ clinic_type.id }}">{{ clinic_type.clinic_type }}</option>
            {% endfor %}
        </select>
        <br>  <br/>

        <input type="submit" value="Create NEW DOCTOR Account" class="favorite styled">
        </form>
    </div>
{% endblock content %}

<h6> {{ footer }} </h6>q


