{# doctor_new_consultation #}

<!DOCTYPE html>
{% extends 'base_doctor_to_prescription.html' %}
{% load static %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block extra_scripts %}
{% endblock extra_scripts %}

{% block inpage_title %}
    <h3>
        <div>   {# "aligns images and text on the same line" cu ' style="vertical-align:middle" ' : #}
            <img style="vertical-align:middle" src="../../static/new_user.jpg" alt="new_user_reg">
            <span style="vertical-align:middle"> {{ main_title }} </span>
        </div>
    </h3>
{% endblock inpage_title %}

{% block errors %}
    {{ errors }}
{% endblock errors %}

{% block content %}
    <div class="user_new">  {# creeaza careul care inconjoara campurile #}
        <form action="" method="post">   {% csrf_token %}

        <br>
        <label for="date">CONSULTATION Date : >>></label>
        <label><input type="text" disabled class="buttons" name="creation_date"
                      value={% now "'D, d-M-Y' as today_str" %}></label>
        <p>{{ today_str }}</p>

        <label for="doctor_full_name">DOCTOR's DATA : Full Name>>></label>
        <input id="doctor_full_name" class="buttons" type="text" disabled  {# 'disabled' face campul nemodificabil #}
               value="{{ current_doctor_con.user.first_name }} {{ current_doctor_con.user.last_name }}">

        <label for="clinic">Clinic Name >>></label>
        <select id="clinic" class="buttons" name="clinic_id" required>
            {% for clinic in clinics %}
                <option value="{{ clinic.id }}">{{ clinic.name }}</option>
            {% endfor %}
        </select>

        <label for="clinic_type">.  .  .  .  .  . Clinic Type >>></label>
        <select id="clinic_type" class="buttons" name="clinic_type_id" required>
            {% for clinic_type in clinic_types %}
                <option value="{{ clinic_type.id }}">{{ clinic_type.clinic_type }}</option>
            {% endfor %}
        </select>
        <br>        <br/>

        <label for="patient">PATIENT's DATA >>></label>
        <select id="patient" class="buttons" name="patient_id" required>
            {% for patient in patients %}
                <option value="{{ patient.id }}">{{ patient.ssn }} : {{ patient.user.get_full_name }}
                    [{{ patient.insurance.name }}]</option>  {# NEW:  #}
            {% endfor %}
        </select>

        <label for="residence">.  .  .  .  .  . Residence >>></label>
        <select id="residence" class="buttons" name="residence_id" required>
            {% for residence in residences %}
                <option value="{{ residence.id }}">{{ residence.name }}</option>
            {% endfor %}
        </select>
        <br>        <br/>

        <label for="diagnostic_type">CONSULTATION's DATA : Diagnostic Type >>></label>
        <select id="diagnostic_type" class="buttons" name="diagnostic_type_id" required>
            {% for diagnostic_type in diagnostic_types %}
                <option value="{{ diagnostic_type.id }}">{{ diagnostic_type.diag_type }}</option>
            {% endfor %}
        </select>
        <br>        <br/>

        <div>   {# align objects on the same line : #}
            <label for="medical_report">Detailed Medical Report : >>></label>
            <span style="vertical-align:middle">
                <textarea cols="35" rows="3" id="medical_report" name="medical_report" required
                                 style="margin: 0px; width: 550px; height: 102px;">
                </textarea>
            </span>
        </div>

            <input type="submit" value="Save CONSULTATION" class="favorite styled">
        </form>
    </div>

{% endblock content %}

<h6> {{ footer }} </h6>


{# OLD code - kept for reference : #}
            {#        <input id="ssn" class="buttons" type="text" placeholder="0000000000000" name="ssn" required>#}
            {##}
            {#        <label for="patient_first_name">.  .  .  .  .  . First Name >>></label>#}
            {#        <select id="patient_first_name" class="buttons" placeholder="Patient's First Name" name="patient_first_name" required>#}
            {#            {% for patient in patients %}#}
            {#                <option value="{{ patient.id }}">{{ patient.user.first_name }}</option>#}
            {#            {% endfor %}#}
            {#        </select>#}
            {##}
            {#        <label for="patient_last_name">.  .  .  .  .  . Last Name >>></label>#}
            {#        <select id="patient_last_name" class="buttons" placeholder="Patient's Last Name" name="patient_last_name" required>#}
            {#            {% for patient in patients %}#}
            {#                <option value="{{ patient.id }}">{{ patient.user.last_name }}</option>#}
            {#            {% endfor %}#}
            {#        </select>#}
            {#        <br>        <br/>#}
{##}
{#            <label for="insurance">PATIENT's DATA : Insurance Type >>></label>#}
{#            <select id="insurance" class="buttons" name="insurance_id" required> # "insurance_id" is linked to view#}
{#                {% for insurance in insurances %}#}
{#                    <option value="{{ insurance.id }}">{{ insurance.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
            {##}
            {#        <label for="residence">.  .  .  .  .  . Residence >>></label>#}
            {#        <select id="residence" class="buttons" name="residence_id" required>#}
            {#            {% for residence in residences %}#}
            {#                <option value="{{ residence.id }}">{{ residence.name }}</option>#}
            {#            {% endfor %}#}
            {#        </select>#}
            {#        <br>        <br/>#}



