{# doctor_all_consultations_review #}

{% extends 'base_doctor_to_consultation.html' %}

{% block content %}
    {% if user.is_authenticated %}

    <form action="" method="post">
        {% csrf_token %}

        <label for="ssn">
            <h2 style="text-align:center">Search PATIENT's CONSULTATION(S) =
                <input type="text" id="myInput" onkeyup="mySSNFunction()" placeholder="Search by SSN (13 digits)"
                       title="Type in a SSN number (13 digits only)">
            </h2>
        </label>
    </form>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/src/tablesort.css">  {# type="text/css" #}

    <table class="table-sortable" border="1" id="myTable">
        <tr class="header">
            <th>Patient's<br>SSN</th>
            <th>Date &<br>Time</th>
            <th>Clinic's Name<br>(& Type)</th>
            <th>Doctor's<br>Full Name</th>
            <th>Patient's<br>Full Name</th>
            <th>Diagnostic<br>Type</th>
            <th>Medical Report</th>
        </tr>

        {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.patient.ssn }}</td>
                <td>{{ consultation.created_at }}</td>
                <td>{{ consultation.clinic.name }} ({{ consultation.clinic_type.clinic_type }})</td>
                <td>{{ consultation.doctor.user.last_name }} {{ consultation.doctor.user.first_name }}</td>
                <td>{{ consultation.patient.user.last_name }} {{ consultation.patient.user.first_name }}</td>
                <td>{{ consultation.diagnostic_type.diag_type }}</td>
                <td>{{ consultation.medical_report }}</td>
            </tr>
        {% endfor %}
    </table>
    <script type="text/javascript" src="/static/src/tablesort.js"></script>
    <br>

    <div>
        <a href="{% url 'doctor_new_consultation' %}">Create a NEW CONSULTATION</a>
    </div>

    <script>
        function mySSNFunction() {
            var input, filter, table, tr, td, i, txtValue;  {# 'var' used instead of 'let' or 'const' #}
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                        }
                }
            }
        }
    </script>

    <p>
        {% if object.user != None and object.user != '' %}
            {% else %} The USER you are looking for is not yet created . . .
        {% endif %}
    </p>
    <br>  <br/>

    {% else %}
        <h1>PLEASE AUTHENTICATE as a DOCTOR to be able to access this page . . . </h1>
    {% endif %}

{% endblock %}

