{# doctor_patient_search #}

<!DOCTYPE html>
{% extends 'base_doctor.html' %}
{% load static %}
{% block errors %}
    <title>{{ page_title }}</title>
    <h3> {{ main_title }} </h3>
{% endblock %}

{% block content %}
    <body>
    {# TODO: fiecare dintre aceste trei campuri trebuie sa fie de tip SELECT/SEARCH :   #}
    <div class="user_new">
        <h4> Please fill-in data for at least one of the fields, and then press the SEARCH button: </h4>

        <label for="prenume">First name</label>
        <label>
            <input class="buttons" type="text" placeholder="First name" name="pa_f_name" required>
        </label>
        <br> <br>

        <label for="nume">Last name</label>
        <label>
            <input class="buttons" type="text" placeholder="Last name" name=pa_l_name" required>
        </label>
        <br> <br>

        <label for="ssn">SSN</label>
        <label>
            <input class="buttons" type="text" placeholder="SSN" name=pa_ssn" required>
        </label> {# TODO: care este necesitatea fiecaruia dintre aceste informatii : placeholder, name ?? " #}
        <br> <br>
    </div>

    <br>
    <button class="favorite styled" type="button" id="search_PA" onclick="myFunction()">SEARCH</button>
    {# TODO: la apasaerea butonului "SEARCH" , sa extragem in tabelului de mai jos clientul/clientii cu match" #}
    <script>
        function myFunction() {
            var x = document.getElementById("search_PA");
            x.disabled = true;
        }
    </script>
    <br> <br>

    {# TODO: AICI TREBUIE sa apara rezultatul SEARCH-ului de mai sus :  #}
    {% for patient in patients %}
        {{ patient.first_name }} {{ patient.last_name }}
    {% endfor patient %}

{% endblock %}
