{# doctor_new_prescription #}

<!DOCTYPE html>
{% extends 'base_doctor_to_consultation.html' %}
{% load static %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block extra_scripts %}
{% endblock extra_scripts %}

{% block inpage_title %}
    <h3>
        <div>   {# "aligns images and text on the same line" cu ' style="vertical-align:middle" ' : #}
            <img style="vertical-align:middle" src="../../static/new_user.jpg" alt="new_user_reg">
            <span style="vertical-align:middle"> {{ main_title }} </span>
        </div>
    </h3>
{% endblock inpage_title %}

{% block errors %}
    {{ errors }}
{% endblock errors %}

{% block content %}
    <div class="user_new">  {# creeaza careul care inconjoara campurile #}
        <form action="" method="post">   {% csrf_token %}
        <br>

        <label for="date">PRESCRIPTION's Issue Date : >>></label>
        <label><input type="text" disabled class="buttons" name="creation_date"
                      value={% now "'D, d-M-Y' as today_str" %}></label>
        <p>{{ today_str }}</p>

        <label for="series">PRESCRIPTION DATA : Series>>></label>
        <label><input type="text" disabled class="buttons" name="series"></label>
        <p>{{ series_str }}</p>

        <label for="doctor_full_name">DOCTOR's DATA : Full Name>>></label>
        <input id="doctor_full_name" class="buttons" type="text" disabled  {# 'disabled' face campul nemodificabil #}
               value="{{ current_doctor_pre.user.first_name }} {{ current_doctor_pre.user.last_name }}">

        <label for="clinic">CLINIC's DATA : Clinic Name >>></label>
        <select id="clinic" class="buttons" name="clinic_id" required>
            {% for clinic in clinics %}
                <option value="{{ clinic.id }}">{{ clinic.name }}</option>
            {% endfor %}
        </select>

        <label for="clinic_type">.  .  .  .  .  . Clinic Type >>></label>
        <select id="clinic_type" class="buttons" name="clinic_type_id" required>
            {% for clinic_type in clinic_types %}
                <option value="{{ clinic_type.id }}">{{ clinic_type.clinic_type }}</option>
            {% endfor %}
        </select>
        <br> <br/>

        <label for="patient_data">PATIENT's DATA >>></label>
        <select id="patient_data" class="buttons" name="patient_id" required>
            {% for patient in patients %}
                <option value="{{ patient.id }}">{{ patient.ssn }} : {{ patient.user.get_full_name }}
                    [{{ patient.insurance.name }}]</option>
            {% endfor %}
        </select>

        <label for="residence">.  .  .  .  .  . Residence >>></label>
        <select id="residence" class="buttons" name="residence_id" required>
            {% for residence in residences %}
                <option value="{{ residence.id }}">{{ residence.name }}</option>
            {% endfor %}
        </select>
        <br> <br/>

        <label for="diagnostic_type">CONSULTATION's DATA  : Diagnostic Type >>></label>
        <select id="diagnostic_type" class="buttons" name="diagnostic_type_id" required>
            {% for diagnostic_type in diagnostic_types %}
                <option value="{{ diagnostic_type.id }}">{{ diagnostic_type.diag_type }}</option>
            {% endfor %}
        </select>
        <br> <br/>

        <label for="prescription_type">DIAGNOSTIC's DATA : Diagnostic Code - Prescription Type >>></label>
        <select id="prescription_type" class="buttons" name=prescription_type_id" required>
            {% for prescriptiontype in prescriptiontypes %}
                <option value="{{ prescriptiontype.id }}">{{ prescriptiontype.diagnostic_code }}
                    - {{ prescriptiontype.prescription_type }}</option>
            {% endfor %}
        </select>
        <br> <br/>

        <input type="submit" value="Save PRESCRIPTION" class="favorite styled">
        </form>

    </div>
{% endblock content %}

<h6> {{ footer }} </h6>
