{# doctor_prescription_review #}

{% extends 'base_doctor_to_prescription.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {#            DOCTOR's PRESCRIPTION Detailed Data Review for PATIENT (SSN) = {{ object.patient.ssn }} #}
        <label for="ssn">
            <h2 style="text-align:center">PRESCRIPTION(S) Search by PATIENT(SSN) =
                <input style="class: center" id="ssn" class="buttons" type="text" placeholder="0000000000000" name="ssn" required>
            </h2>
        </label>

        <button style="float:right" class="favorite styled" type="button" id="search_PR" onclick="myFunction()">
            SEARCH Prescription
        </button>
        <script>
            function myFunction() {
                var x = document.getElementById("search_PR");
                x.disabled = true;
            }
        </script>
    </form>

    <div class="doctor_detail_view">
        <table border="1" id="comments">
            <thead>
                <tr>
                    <th>Date&<br>Time</th>
                    <th>Doctor's<br>Full Name</th>
                    <th>Patient's<br>Full Name</th>
                    <th>Patient's<br>SSN</th>
                    <th>Series&<br>Number</th>
                    <th>Diagnostic<br>Code</th>
                    <th>Diagnostic<br>Type</th>
                    <th>Insurance</th>
                    <th>Active<br>Substance</th>
                    <th>Drug Ph.Form</th>
                    <th>Conc.</th>
                    <th>Picked-up?</th>
                </tr>
            </thead>

            {% for prescription in prescriptions %}
                <tr>
                    <td>{{ prescription.created_at }}</td>
                    <td>{{ prescription.doctor.user.last_name }} {{ prescription.doctor.user.first_name }}</td>
                    <td>{{ prescription.patient.user.last_name }} {{ prescription.patient.user.first_name }}</td>
                    <td>{{ prescription.patient.ssn }}</td>
                    <td>{{ prescription.series }} {{ prescription.number }}</td>
                    <td>{{ prescription.prescription_type.diagnostic_code }}</td>
                    <td>{{ prescription.consultation.diagnostic_type.diag_type }}</td>
                    <td>{{ prescription.patient.insurance.name }}</td>
                    <td>{{ prescription.active_substance.active_substance }}</td>
                    <td>{{ prescription.pharmaceutical_form.pharmaceutical_form }}</td>
                    <td>{{ prescription.concentration.concentration }}</td>
{#                    <td>{{ prescription.patient.prescriptionpickup_set.pharmacy.name}}</td>  {# NU SCOATE NIMIC . . #}
                    <td>{{ prescription.patient.prescriptionpickup.pharmacy.name}}</td>        {# NU SCOATE NIMIC . . #}
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <div>
        <a href="{% url 'doctor_new_prescription' %}">Create a NEW PRESCRIPTION</a>
    </div>

    <p>
        {% if object.user != None and object.user != '' %}
        {% else %}The USER you are looking for is not yet created . . .
        {% endif %}
    </p>
    <br>  <br/>
{% endblock %}
