{# doctor_new_consultation_prescription_common #}

{% block content %}
{#    <div class="user_new">#}
{#        <h4> {{ sub_title_1 }} </h4>#}
        <form action="" method="post">
{##}
{#            {% csrf_token %}#}

        <label for="first_name">Patient's First Name</label>
        <select id="first_name" class="buttons" type="text" placeholder="Patient's First Name" name="first_name" required>
            {% for patient in patients %}
                <option value="{{ patient.id }}">{{ patient.user.first_name }}</option>
            {% endfor %}
        </select>
        <br/><br/>

        <label for="last_name">Patient's Last Name</label>
        <select id="last_name" class="buttons" type="text" placeholder="Patient's Last Name" name="last_name" required>
            {% for patient in patients %}
                <option value="{{ patient.id }}">{{ patient.user.last_name }}</option>
            {% endfor %}
        </select>
        <br/><br/>

        </form>
{#    </div>#}
{% endblock %}
