.nav {
  background-color: yellow;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}


label {
    /*display: block;*/     /* trece linia de input pe randul urmator fata de linia de label */
    font: 1rem 'Fira Sans', sans-serif;
    font-weight: bold;
    padding: 10px;
}

input,
label {
    margin: .1rem 0;
}

body {
    background-color: cadetblue;
}

h3 {
    text-align: center;
    color: whitesmoke;
    font-family: "Courier New", "Courier New", monospace;
    font-size: 50px;
    font-weight: bold;
}

h4 {
    color: whitesmoke;
    font-family: "Courier New", "Courier New", monospace;
    font-size: 25px;
    font-weight: bold;
}

h5 {
    color: black;
    font-family: "Courier New", "Courier New", monospace;
    font-size: 15px;
    /*font-weight: bold;*/
}

table {
    border-collapse: collapse;
    width: 100%;
}

/*Combined selector */
th, td {
    font-family: "Courier New", "Courier New", monospace;
    /*background-color: lightgray;*/
    color: darkblue;
    font-size: 15px;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: lightpink   /* background color linii tabel cu numar par */
}

th {
    background-color: #4CAF50;  /* background color cap de tabel */
    color: white;  /* font color cap de tabel */
    font-style: normal;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 30px;
}

/* Implementarea "HTML attribute selector" , aici border="1" (in combinatie cu codul din fisierul HTML) */
[border="1"] {
    /*font-style: italic;*/     /* afecteaza scrisul din celulele tabelului*/
    /*color: darkred;*/     /* afecteaza scrisul din celulele tabelului*/
}

/* Implementarea selectorului de tip INDEX (in combinatie cu codul din fisierul HTML) */
#comments{
    border: 2px solid red; /* RED border color , modificat prin intermediul id-ului "comments"*/
}

/* pentru stilizarea tagurilor care au class= "liste" este necesar de pus un PUNCT inainte de numele clasei,
in acest caz ".liste"  */
.class{
    color: blue;
    border: 2px solid currentcolor; /* Blue border color */
}

.table_new_consultation{
    color: darkmagenta;
    font-size: larger;
    border: 5px solid currentcolor; /* Magenta border color */
}

.table_new_prescription{
    color: blue;
    border: 5px solid currentcolor; /* Blue border color */
}

.user_new{
    color: darkmagenta;
    font-size: larger;
    border: 5px solid currentcolor; /* Magenta border color */
}

/* format of the registration input areas */
.buttons{
    color: black;
    font-weight: revert;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: medium;
    background-color: lightblue;
    border: 2.5px solid currentcolor; /* Magenta border color */
}


/* unvisited link */
a:link {
    text-decoration: none;    /* mai poate fi UNDERLINE sau STRIKETHROUGH*/
    background-color: yellow;
    text-align: right;
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;       /* VARIANTA cu doua valori: TOP si RIGHT*/
    display: inline-block;
}

/* visited link */
a:visited {
    text-decoration: none;
    background-color: cyan;
    text-align: right;
    background-color: #f44336;
    color: white;
    padding:  4px 4px  4px 4px;
    display: inline-block;
}



/* mouse over link (HOVER)  */
a:hover {
    color: hotpink;
    text-decoration: underline;
    background-color: lightgreen;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: underline;
    background-color: hotpink;
}

/*  Creat NEW Account BUTTON  */
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
