.nav {
  background-color: yellow;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}


body {
    background-color: cadetblue;
}

h3 {
    text-align: center;
    color: whitesmoke;
    font-family: "Courier New", "Courier New", monospace;
    font-size: 50px;
    font-weight: bold;
}

h4 {
    text-align: center;
    color: whitesmoke;
    font-family: "Courier New", "Courier New", monospace;
    font-size: 25px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}

/*Combined selector */
th, td {
    font-family: "Courier New", "Courier New", monospace;
    /*background-color: lightgray;*/
    color: darkblue;
    font-size: 15px;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: lightpink   /* background color linii tabel cu numar par */
}

th {
    background-color: #4CAF50;  /* background color cap de tabel */
    color: white;  /* font color cap de tabel */
    font-style: normal;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 30px;
}

/* Implementarea "HTML attribute selector" , aici border="1" (in combinatie cu codul din fisierul HTML) */
[border="1"] {
    /*font-style: italic;*/     /* afecteaza scrisul din celulele tabelului*/
    /*color: darkred;*/     /* afecteaza scrisul din celulele tabelului*/
}

/* Implementarea selectorului de tip INDEX (in combinatie cu codul din fisierul HTML) */
#comments{
    border: 2px solid red; /* RED border color , modificat prin intermediul id-ului "comments"*/
}

/* pentru stilizarea tagurilor care au class= "liste" este necesar de pus un PUNCT inainte de numele clasei,
in acest caz ".liste"  */
.class{
    color: blue;
    border: 2px solid currentcolor; /* Blue border color */
}

.table_new_consultation{
    color: darkmagenta;
    font-size: larger;
    border: 5px solid currentcolor; /* Magenta border color */
}

.table_new_prescription{
    color: blue;
    border: 5px solid currentcolor; /* Blue border color */
}


/* unvisited link */
a:link {
    text-decoration: none;    /* mai poate fi UNDERLINE sau STRIKETHROUGH*/
    background-color: yellow;
    text-align: right;
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;       /* VARIANTA cu doua valori: TOP si RIGHT*/
    display: inline-block;
}

/* visited link */
a:visited {
    text-decoration: none;
    background-color: cyan;
    text-align: right;
    background-color: #f44336;
    color: white;
    padding:  4px 4px  4px 4px;
    display: inline-block;
}



/* mouse over link (HOVER)*/
a:hover {
    color: hotpink;
    text-decoration: underline;
    background-color: lightgreen;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: underline;
    background-color: hotpink;
}
