.container{
    align-self: end;
    font-family: Arial;
    font-weight: bold;
    color: #000000;
    border: 1px solid #000000;
    width: 340px;
    /* padding: 10px 10px 10px 10px; /* se poate asa  */
    padding: 10px; /* sau numai asa  */
    text-align: center;

}
