{# pharmacist_personal_data_review #}

{% extends 'base_pharmacist.html' %}

{% block content %}
    <h1>PHARMACIST's Personal Data Review for Authorisation No. = {{ object.user.pharmacist.authorisation }}</h1>
    <div class="pharmacist_detail_view">
        <table border="1" id="comments">
        <thead>
            <tr>
                <th>PHARMACIST's<br>Full Name</th>
                <th>PHARMACIST's<br>Authorisation No.</th>
                <th>PHARMACIST's<br>email Address</th>
                <th>PHARMACY Name</th>
            </tr>
        </thead>
            <tr>
                <td>{{ object.user.first_name }} {{ object.user.last_name }}</td>
                <td>{{ object.user.pharmacist.authorisation }}</td>
                <td>{{ object.user.email }}</td>
                <td>{{ object.pharmacy.name }}</td>
            </tr>
        </table>
    </div>

    <p>
        {% if object.user != None and object.user != '' %}
        {% else %}The USER you are looking for is not yet created . . .
        {% endif %}
    </p>
        <br>  <br/>
{% endblock %}
