{# pharmacist_prescription_search #}

{% extends 'base_pharmacist_prescription_search.html' %}

{% block content %}
    <title>{{ page_title }}</title>

    <link rel="stylesheet" type="text/css" href="../../static/doctor.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    {% if user.is_authenticated %}
        <h1>PHARMACIST's PRESCRIPTION(S) Search Page for {{ user.first_name }} {{ user.last_name }} (Authorisation No.= {{ user.pharmacist.authorisation }})</h1>
        <h4> {{ sub_title_1 }} </h4>

    <button class="favorite styled" type="button" id="search_PH" onclick="myFunction()">SEARCH</button>
    {# TODO: la apasaerea butonului "SEARCH" sa extragem in tabelului de mai jos prescription/prescriptions cu match" #}
    <script>
        function myFunction() {
            var x = document.getElementById("search_PH");
            x.disabled = true;
        }
    </script>
        <div class="pharmacist_detail_view">
        <table border="1" id="comments">
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>PRESCRIPTION's<br>Series & Number</th>
                <th>PATIENT's<br>Full Name</th>
                <th>PATIENT's<br>SSN</th>
                <th>PATIENT's<br>Residence</th>
                <th>PATIENT's<br>Insurance Type</th>
                <th>PATIENT's<br>Diagnostic Type</th>
                <th>Diagnostic Code //<br>Prescription Type</th>
            </tr>
        </thead>
            {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.created_at }}</td>
                <td>{{ prescription.series }} // {{ prescription.number }}</td>
                <td>{{ prescription.patient.user.first_name }} {{ prescription.patient.user.last_name }}</td>
                <td>{{ prescription.patient.ssn }}</td>
                <td>{{ prescription.patient.residence.name }}</td>
                <td>{{ prescription.patient.insurance.name }}</td>
                <td>{{ prescription.consultation.diagnostic_type.diag_type }}</td>
                <td>{{ prescription.prescription_type.diagnostic_code }} // {{ prescription.prescription_type.prescription_type }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {# TODO: fiecare dintre urmatoarele trei campuri trebuie sa fie de tip SELECT/SEARCH :   #}

    <br>
    <button class="favorite styled" type="button" id="search_PH" onclick="myFunction()">SEARCH</button>
    {# TODO: la apasaerea butonului "SEARCH" sa extragem in tabelului de mai jos prescription/prescriptions cu match" #}
    <script>
    function myFunction() {
        var x = document.getElementById("search_PH");
        x.disabled = true;
    }
    </script>
    <br>    <br>

    {% else %}
        <h1>PLEASE AUTHENTICATE as a PHARMACIST to be able to access this page . . . </h1>
    {% endif %}

{% endblock content %}
