{# pharmacist_registration.html #}

<!DOCTYPE html>
{% extends 'base_pharmacist.html' %}
{% load static %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block extra_scripts %}
{% endblock extra_scripts %}

{% block inpage_title %}
    <h3>
        <div>   {# "aligns images and text on the same line" cu ' style="vertical-align:middle" ' : #}
            <img style="vertical-align:middle" src="../../static/new_user.jpg" alt="new_user_reg">
            <span style="vertical-align:middle"> {{ main_title }} </span>
        </div>
    </h3>

{% endblock inpage_title %}

{% block errors %}
    {{ errors }}
{% endblock errors %}

{% block content %}
    <div class="user_new">  {# creeaza careul care inconjoara campurile #}
        <h4> {{ sub_title_1 }} </h4>
        <form action="" method="post">

        {% csrf_token %}

        {% include 'registration_common.html' %}
        <br>

        <label for="authorisation_no">Authorisation No. >>></label>
        <label>
            <input class="buttons" type="text" placeholder="Authorisation No." name="auth_no" required>
        </label>
        <br>        <br/>

        <label for="pharmacy">Pharmacy Name >>></label>
        <select id="pharmacy" class="buttons" name="pharmacy" required>
            {% for pharmacy in pharmacies %}
                <option value="{{ pharmacy.id }}">{{ pharmacy.name }}</option>
            {% endfor %}
        </select>
        <br>        <br/>

        <input type="submit" value="Create NEW PHARMACIST Account" class="favorite styled">
        </form>
    </div>
{% endblock content %}

<h6> {{ footer }} </h6>

