<!DOCTYPE html>
{#  {% extends 'base.html' %}  #}
{% load static %}
<html lang="en">
    <head>
    <title>{{ page_title }}</title>
    <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="../../static/doctor.css">

        <div class="links">
            <a href="{% url 'virtual_health_card' %}">Home </a>
        </div>
        <!--    -->
        <h3> {{ main_title }} </h3>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <body>
    {# TODO: fiecare dintre urmatoarele trei campuri trebuie sa fie de tip SELECT/SEARCH :   #}
    <div class="user_new">
    <h4> {{ sub_title_1 }} </h4>

    <label for="prenume">First name</label>
    <label>
        <input class="buttons" type="text" placeholder="First name" name="pa_f_name" required>
    </label>
    <br>    <br>

    <label for="nume">Last name</label>
    <label>
        <input class="buttons" type="text" placeholder="Last name" name=pa_l_name" required>
    </label>
    <br>    <br>

    <label for="ssn">SSN</label>
    <label>
        <input class="buttons" type="text" placeholder="SSN" name=pa_ssn" required>
    </label>    {# TODO: care este necesitatea fiecaruia dintre aceste informatii : placeholder, name ?? " #}
    <br>    <br>
    </div>

    <br>
    <button class="favorite styled" type="button" id="search_PR" onclick="myFunction()">SEARCH</button>
    {# TODO: la apasaerea butonului "SEARCH" sa extragem in tabelului de mai jos prescription/prescriptions cu match" #}
    <script>
    function myFunction() {
        var x = document.getElementById("search_PR");
        x.disabled = true;
    }
    </script>
    <br>    <br>
    {# TODO: AICI TREBUIE sa apara rezultatul SEARCH-ului de mai sus :  #}
    {% for prescription in prescriptions %}
        {{ prescription.date }} {{ prescription.series }}
    {% endfor patient %}

    </body>
</html>
